.progress {
    position: relative;
    top: (50 - 60/2) + vh;
    left: (50 - 40/2) + vw;
    width: 40vw;
    height: 60vh;
    border: 2px solid gray;
    animation: loading 400ms;
    &::before {
        content: "";
        position: absolute;
        top: 49%;
        left: 25%;
        width: 50%;
        height: 2%;
        border: 2px solid $clr-bg;
        background: $clr-bg;
        transform: scaleX(0);
        transform-origin: left;
        animation: bar 400ms 400ms ease-in-out;
    }
    &::after {
        content: "";
        position: absolute;
        background: transparent url('../images/nicki.jfif') center no-repeat;
        top: 18%;
        left: 35%;
        width: 180px;
        height: 290px;
        border: 2px solid gray;
        opacity: 0;
        animation: image 400ms 800ms ease-in-out both;
    }
}